stock_workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "9454f5d5-02f2-4f40-9ae1-26b3e00b4b00",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://fundamentus.com.br/detalhes.php?papel=ITSA4",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        0
      ],
      "id": "e3931e39-6c63-4451-90b3-04303a77897c",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "={{ $json.data }}",
              "cssSelector": "td.destaque:nth-child(4) > span:nth-child(1)"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        416,
        0
      ],
      "id": "0f315c5d-b389-474e-aaae-360f43bcd24c",
      "name": "HTML"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "81e0951e-2c4c-42cf-96da-2f6fca515108",
  "meta": {
    "instanceId": "68b10562723c01804dfa4bbc659790b1708e41dc9e121c4ff499b91cb31354da"
  },
  "id": "sYUYAy8catUpQQKy",
  "tags": []
}