stock_workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "9454f5d5-02f2-4f40-9ae1-26b3e00b4b00",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://fundamentus.com.br/detalhes.php?papel=ITSA4",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        0
      ],
      "id": "e3931e39-6c63-4451-90b3-04303a77897c",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "={{ $json.data }}",
              "cssSelector": "td.destaque:nth-child(4) > span:nth-child(1)"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        416,
        0
      ],
      "id": "0f315c5d-b389-474e-aaae-360f43bcd24c",
      "name": "HTML"
    },
    {
      "parameters": {
        "chatId": "",
        "text": "=ITSA4 price is: R$ {{ $json.values() }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        624,
        0
      ],
      "id": "48f32218-7af9-4843-9147-5c6ac06dc43d",
      "name": "Send a text message",
      "webhookId": "8b280902-a2bf-4c38-aed8-fad00ec5fa9f",
      "credentials": {
        "telegramApi": {
          "id": "zvlfEtnyaqaYudh9",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5bd5c1d6-3a01-4546-b740-44c82a4e5823",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "68b10562723c01804dfa4bbc659790b1708e41dc9e121c4ff499b91cb31354da"
  },
  "id": "sYUYAy8catUpQQKy",
  "tags": []
}
